<h1>Yay you made it to our index page!!</h1>

<%@coupons.each do |coupon|%>
    <div><%=link_to coupon.store, coupon%></div>
<%end%>
<div><br></br></div>
<div>
    <%=link_to "Make a new coupon", new_coupon_path%>
</div>